* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #172033;
}


header {
    background: #082b59;
    color: white;

    display: flex;
    align-items: center;

    padding: 18px 25px;
}


.logo {
    width: 48px;
    height: 48px;

    background: white;
    color: #082b59;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 20px;

    margin-right: 15px;
}


header h1 {
    margin: 0;
    font-size: 22px;
}


header p {
    margin: 4px 0 0;
    opacity: .8;
}


main {
    max-width: 650px;
    margin: 40px auto;
    padding: 15px;
}


.poll-card {
    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow:
        0 5px 25px rgba(0,0,0,.08);
}


.poll-card h2 {
    margin-top: 0;
}


.question {
    font-size: 19px;
    font-weight: bold;

    margin-bottom: 25px;
}


.option {
    display: flex;
    align-items: center;

    border: 1px solid #ddd;

    padding: 15px;

    margin-bottom: 12px;

    border-radius: 10px;

    cursor: pointer;
}


.option:hover {
    background: #f5f8ff;
}


.option input {
    margin-right: 12px;
}


button {
    width: 100%;

    border: 0;

    padding: 14px;

    margin-top: 10px;

    border-radius: 8px;

    background: #087f5b;

    color: white;

    font-size: 16px;

    cursor: pointer;
}


button:hover {
    opacity: .9;
}


.result-btn {
    background: #082b59;
}


#message {
    margin-top: 15px;
    font-weight: bold;
}


#results {
    margin-top: 25px;
}


.result-row {
    margin-bottom: 18px;
}


.result-title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;
}


.bar {
    height: 25px;

    background: #e5e7eb;

    border-radius: 20px;

    overflow: hidden;
}


.bar-fill {
    height: 100%;

    background: #087f5b;

    width: 0;
}


footer {
    text-align: center;

    padding: 25px;

    font-size: 13px;

    color: #666;
}


@media(max-width:600px) {

    header {
        padding: 15px;
    }

    main {
        margin: 20px auto;
    }

    .poll-card {
        padding: 20px;
    }

}